.ProductContainer {
  width: 1440px;
  margin: auto;
  margin-top: 72px;
}

.ProductContainerHeader p {
  text-align: center;
  color: #878a92;
  font-size: 0.875rem;
  font-weight: 500;
}

.ProductContainerHeader h3 {
  text-align: center;
  margin-top: 8px;
}

.ProductItems {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(264px, 1fr));
  gap: 28px;
}

@media (max-width: 1540px) {
  .ProductContainer {
    width: 1180px;
  }
}

@media (max-width: 1250px) {
  .ProductContainer {
    width: 90%;
  }
}
