.cartpage {
  width: 1440px;
  margin: auto;
}

.cartpage .cartContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
}

.cartpage .cartContainer .cartContainer_title {
  font-size: 0.975rem;
  border-bottom: 1px solid #e9e9eb;
  padding-bottom: 18px;
  margin-bottom: 40px;
}

.cartpage .cartLIst {
  width: 100%;
  display: grid;
  grid-template-columns: 370px 240px;
  justify-content: space-between;
}

.cartpage .cartLIst .cart_item_name {
  font-size: 0.775rem;
}

.cart_item_color,
.cartSize,
.cartSizeData,
.cartPrice p {
  font-size: 0.725rem;
}

.cartPrice p {
  font-weight: 700;
}

.cartPrice button {
  cursor: pointer;
  background-color: #f6f6f6;
  padding: 10px 20px;
  border-radius: 3px;

  border: none;
}

.cartpage .cartLIst .cartListLeft {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.cartpage .cartInfo {
  width: 728px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cartpage .cartLIst .cartImage {
  width: 80px;
  height: 80px;
  padding: 0px 11px 0px 11px;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartpage .cartLIst .cartImage img {
  width: 100%;
}

.cartpage .cartLIst .cartAttribute {
  display: flex;
  align-items: center;
}

.cartpage .cartLIst .cartAttribute .cartAttributeChild {
  display: flex;
  align-items: center;
}

.cartpage .cartLIst .cartColor {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-inline: 6px;
}
.cartpage .cartLIst .cartSize {
  margin-inline: 6px;
}

.cartpage .cartLIst .cartPrice {
  display: flex;
  align-items: center;
  column-gap: 25px;
}

@media (max-width: 1540px) {
  .cartpage {
    width: 1180px;
  }
}

@media (max-width: 1250px) {
  .cartpage {
    width: 90%;
  }
}
