.ProductInfo {
  display: grid;
  width: 1440px;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(264px, 1fr));
}

.productInfoImage {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
}

.productInfoImage img {
  width: 290px;
}

.productInfoDetails {
  margin-left: 120px;
}

.productInfoDetails .product_colors button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 14px;
  border: none;
}

.size_title {
  color: #5c5f6a;
  font-size: 0.875rem;
  margin-bottom: 10px;
}

.productInfo_size {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #e6e7e8;
  border-radius: 4px;
  margin-right: 8px;
}

.productInfo_size.selected {
  border: 1px solid black;
}

@media (max-width: 1540px) {
  .ProductInfo {
    width: 1180px;
  }
}

@media (max-width: 1250px) {
  .ProductInfo {
    width: 90%;
  }
}
