.ProductInfo {
  display: grid;
  width: 1440px;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(264px, 1fr));
}

.productInfoImage {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
}

.productInfoImage img {
  width: 290px;
}

.productInfoDetails {
  margin-left: 120px;
}

.productInfoDetails .product_colors button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
}

.size_title {
  color: #5c5f6a;
  font-size: 0.875rem;
  margin-bottom: 10px;
}

.productInfo_size {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #e6e7e8;
  border-radius: 4px;
  margin-right: 8px;
}

.productInfo_color {
  margin: 5px;
}
.color_buttons {
  display: flex;
}

.colorBorder {
  width: 35px;
  height: 35px;
}

.selectedColor {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black !important;
}

.productInfo_size.selectedSize {
  border: 1px solid black;
}

@media (max-width: 1540px) {
  .ProductInfo {
    width: 1180px;
  }
}

@media (max-width: 1250px) {
  .ProductInfo {
    width: 90%;
  }
}
